html {
	text-family: arial;
	font-size: 12pt;
}

#wrapper_top {
	width: 100%;
	height: 40pt;
	position: fixed;
	background: #0698e4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2OThlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxOTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #0698e4 0%, #006193 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0698e4), color-stop(100%,#006193)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0698e4 0%,#006193 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0698e4 0%,#006193 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0698e4 0%,#006193 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0698e4 0%,#006193 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0698e4', endColorstr='#006193',GradientType=0 ); /* IE6-8 */
}

.ie9 #wrapper_top {
	filter: none;
}

#container_content {
	width: 720pt;
	margin: 0 auto;
}

#container_main {
	padding: 65pt 0 20pt;
}

#header {
	height: 40pt;
	position: fixed;
	color: #fff;
	z-index: 2;
}

#header p {
	font-size: 10pt;
	margin: 5pt;
}

#header span {
	font-size: 18pt;
}

#main_content img {
	margin-right: 10pt;
	float: left;
}

#main_content p {
	text-align: justify;
	color: #333;
	line-height: 18pt;
}

#footer {
	margin: 0;
	padding-top: 20pt;
	border-top: 1pt solid #efefef;
}

#footer ul {
	margin: 0 200pt;
}

#footer li {
	float: left;
	margin: 0 20pt;
	color: #efefef;
}

#footer a {
	color: #dcdcdc;
	text-decoration: none;
}

#clearer {
	clear: both;
}